<div class="row">
  <div class="col-md-8">
    <div class="media">
      <div class="media-body">
        <h1 class="mt-0"><%= @wiki.title %></h1>
        <small>Last Updated at: <%= Time.at(@wiki.updated_at) %></small>
        <p><%= markdown(@wiki.body) %></p>
      </div>
    </div>
  </div>
    <% if policy(@wiki).update? %>
      <div class="col-md-4">
      <%= button_to "Edit Wiki", edit_wiki_path, method: :get, class: 'btn btn-success m-1' %>
      <% if policy(@wiki).destroy? %>
        <%= button_to "Delete Wiki", wiki_path(@wiki), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }, class: 'btn btn-warning m-1' %>      
      <% end %>
      </div>
    <% end %>
    <% if policy(@wiki.collaborators).update? && policy(@wiki.collaborators).destroy? %>
      <h5>Contributors</h5>
      <ul>
      <% @wiki.collaborators.each do |collaborator| %>
        <li>
        <%= collaborator.user.email %>
        <%= button_to('Delete', collaborator_path(collaborator),
            method: "delete", action: "destroy", remote: true, data: { confirm: 'Are you sure?', disable_with: 'loading...' }) %>
        </li>
      <% end %>
      </ul>
      <%= form_for :collaborators, :url => {:action => "create", :controller=>"collaborators", :wiki_id => @wiki.id} do |f| %>
        <div class="form-group">
        email: <%= f.text_field :email %>
        </div>
        <div class="form-group">
         <%= f.submit "Save", class: 'btn btn-success' %>
        </div>
    <% end %>
  <% end %>
</div>